<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.takeoff.ClinicAttendance">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="27" />
	<application android:label="ClinicAttendance.Android">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="YOUR_API_KEY" />
	</application>
</manifest>

<!--AIzaSyDKfko9tFD79Cg8Xatoq4SZRr51_hiPfwY-->